:root {
    --background-color: #2F303A;
    --warning-color: #757575;
    --text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-color: #FFF; 
    --section-team:  #F5F4FA;
    --header-log: #000;
    --footer-text:rgba(255, 255, 255, 0.60);
    --hero-linaar: rgba(47, 48, 58, 0.4);
    --svg-color:  rgba(175, 177, 184, 1);
    --border-color: #AFB1B8;
    --footer-svg: rgba(255, 255, 255, 0.10);
    --list-color: rgba(255, 255, 255, 1);
    --header-svg: rgba(117, 117, 117, 1);    
    --foot-color: rgba(255, 255, 255, 0.10);
    --modal-color: rgba(117, 117, 117, 0.50);
   
}

/* index */

*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif; */

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px ;
    margin: 0 auto;
  }

body {
    font-family: "Roboto", sans-serif;
}

.nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    }

.nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
} 
.current {
    color: var(--accent-text-color);
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}
 
.header-logo {
    color: var(--header-lig);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.box {
    display: flex;
    align-items: center;
}

.nav-list
{
  display: flex; 
  gap: 50px;
  justify-content: center;
}

.header-nav {
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
margin-right: auto;
}

.header-list {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 50px;
}

.header-link {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;

}

.header-smartphone {
    fill: var(--header-svg);
    width: 10px;
    height: 16px;
margin-right: 10px;

}

.header-convert {
    fill: var(--header-svg);
    width: 16px;
    height: 12px;
margin-right: 10px;
}


.header-link:hover, .header-link:focus {
    color: var(--accent-text-color);
    .header-smartphone {
        fill: var(--accent-text-color);
    }
}

.section-hero {
background: var(--background-color);
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),   url(../images/hero-fon.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
color: var(--footer-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; 
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto ;
margin-bottom: 30px;
}

.hero-btn { 
    color: var(--footer-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; 
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-text-color);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-services {
    padding-top: 94px;
}


.services-list {
    display: flex;
    gap: 30px;
}

.services-title {
    width: 270px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-item::before {
    content: "";
border-radius: 4px;
background: var(--section-team);
width: 270px;
height: 120px;
display: block;
background-image: url(../images/antenna.png);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;
} 

.services-item:nth-child(2)::before {
    background-image: url(../images/clock.png);
}

.services-item:nth-child(3)::before {
    background-image: url(../images/diagram1.png); 
}

.services-item:nth-child(4)::before {
    background-image: url(../images/astronaut.png);
}

.services-text {
    flex-shrink: 0;
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;  
}

.work {
padding-top: 94px;
padding-bottom: 94px;
}

.work-list {
    display: flex;
    gap: 30px;

}

.work-item {
position: relative;

}

.work-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}


.work-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
}

.work-paragraph {
    color: var(--footer-color);
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.team-item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-list {
    display: flex;
  gap: 30px;
}

.team {
background: var(--section-team);
padding-top: 94px;
padding-bottom: 94px;
}

.team-img {
width: 270px;
height: 260px;
}

.team-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
background-color: var(--footer-color);
}

.team-box{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-caption {
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-text {
    color: var(--warning-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-lest {
justify-content: center;
    display: flex;
    gap: 10px;
}

.team-link:hover {
    background-color: var(--accent-text-color);
    .team-svg {
        fill: var(--footer-color);
    }

}

.team-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-svg {
    fill: var(--svg-color);
width: 20px;
height: 20px;
}


.regular {
justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.regular-list {
    display: flex;
    gap: 30px;
}

.regular-item {
width: 170px;
height: 92px;

}

.regular-link {
   padding: 16px 32px;
   border-radius: 4px;
border: 1px solid var(--border-color);
display: flex;
justify-content: center;
align-items: center;
}

.regular-link:hover {
 border-color: var(--accent-text-color);
 .regular-svg {
    fill: var(--accent-text-color);
 }
}

.regular-svg {
    fill: var(--svg-color);
width: 106px;
height: 60px;
}

.footer {
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer-span {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-logo {
    color: var(--footer-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-address {
      margin-top: 20px;
        font-style: normal;
    }
    
    .address-link {
    color: var(--footer-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    }
    
    .footer-list {
        margin-top: 9px;
    }
    
    .footer-iteam {
        margin-bottom: 9px;
    
    }
    
    .footer-link {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    }
    
    
    
    .footer-iteam:last-child {
        margin-bottom: 0px;
    }
    
    .footer-link:hover, .footer-link:focus {
        color: var(--accent-text-color);
    }

    .footer-title {
        color: var(--footer-color);
font-family: "Roboto";
font-size: 14px;
font-weight: 700;
line-height: 2.2;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
    }

    .footer-lest {
        display: flex; 
        gap: 10px;
        align-items: center;

    }

    .footer-svg {
        width: 20px;
        height: 20px;
        fill: var(--list-color);
    }

    .ft-box {
        display: flex;
        gap: 70px;
    }
    .footer-box {
        padding-top: 12px;
        padding-bottom: 40px;
    }

    .footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 33px;
        background-color: var(--foot-color);
    }

    .footer-item:hover  .footer-item:focus {
        background-color: var(--accent-text-color);
    }

    .foot-link {
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot-link:hover {
        background-color: var(--accent-text-color);
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        opacity: 1;
      }

      .is-hidden {
        opacity: 0;
        pointer-events: none;
      }

    .modal {
        width: 528px;
        background-color: var(--footer-color);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
      }

    .modal-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: transparent;
        padding: 6px;
        position: absolute;
        top: 14px;
        right: 14px;
        border: 1px solid var(--border-color);
    }

    .modal-clouse{
        width: 18px;
        height: 10px;
    }

      
      .modal-title {
        color: var(--text-color);
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
      }

      .modal-label {
        width: 448px;
        height: 40px;
        color: var(--warning-color);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        margin-bottom: 4px;
      }

    
      
      .modal-input {
        display: block;
        width: 100%;
        height: 40px;
        padding-left: 40px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 11px;
        margin-bottom: 10px;border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
      }

     
      
      .modal-com {
        color: var(--modal-color);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.12px;
        display: block;
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
        padding: 12px 16px;
        resize: none;
        margin-bottom: 10px;border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
      }

      .modal-com:hover {
          color: var(--accent-text-color);
          outline: 1px solid var(--accent-text-color);
      } 

      .byx {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal-span {
        color: var(--accent-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal-bux {
        position: relative;
      }
      
      .modal-svg {
        position: absolute;
        top: 50%;
        left: 15px;
      }

      .modal-svg:hover {
        fill: var(--accent-text-color);
      }

      .modal-input:hover {
        border-color: var(--accent-text-color);
        border-radius: 4px;
     }

      .modal-text {
        color: var(--warning-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
        display: flex;
        flex-direction: reverse;
        margin-left: 8px;
      }

      .modal-checkbox {
        width: 16px;
        height: 15px;
      }

      .modal-btn {
        color: var(--footer-color);
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        border: none;
        border-radius: 4px;
        background: var(--accent-text-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 10px 52px;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

     
