:root {
    --background-color: #2F303A;
    --warning-color: #757575;
    --text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-color: #FFF; 
    --section-team:  #F5F4FA;
    --header-log: #000;
}

*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif; */

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px ;
    margin: 0 auto;
  }

body {
    font-family: "Roboto", sans-serif;
}

.nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    }

.nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
} 

.current {
    color: var(--accent-text-color);
}


.header-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}
 
.header-logo {
    color: var(--header-lig);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    height: 25px;
}

.nav-list
{
  display: flex;
  height: 32px;  
  gap: 50px;
  justify-content: center;
}

.header-nav {
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
}

.header-list {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
justify-content: flex-end;
display: flex;
gap: 50px;
height: 32px;
}

.header-link {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
}


.header-link:hover, .header-link:focus {
    color: var(--accent-text-color);
}

.section-hero {
    width: 1600px;
    height: 600px;
    display: flex;

background: var(--background-color);
}

.hero-title {
color: var(--footer-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero-btn { 
flex-shrink: 0;
border-radius: 4px;
background: var(--accent-text-color);

}

.services-list {
    display: flex;
    justify-content: center;
}

.services-title {
    width: 270px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.services-text {
    flex-shrink: 0;
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;  
}

.work-list {
    display: flex;
    justify-content: space-around;

}

.work-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}




.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    background: var(--section-team);
}

.team-list {
    display: flex;
    justify-content:space-around;
}

.team {
background: var(--section-team);
}

.team-img {
width: 270px;
height: 260px;
}

.team-title {
color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.team-caption {
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-text {
    color: var(--warning-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.footer {
background: var(--background-color);
}

.footer-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}

.footer-logo {
color: var(--footer-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}

.footer-address {
    justify-content: center;
}

.address-link {
 width: 231px;
height: 21px;
flex-shrink: 0;
color: var(--footer-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link {
width: 136px;
height: 21px;
flex-shrink: 0;
color: var(--footer-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link:hover, .footer-link:focus {
    color: var(--accent-text-color);
}

