.cards {
  padding-top: 60px;
  padding-bottom: 60px;

@media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
}

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 480px) {
  
    }

    @media screen and (min-width: 768px) {
    
    }

    @media screen and (min-width: 1200px) {
     
    }
  }

  &__item {
    border: 1px solid $border;
    background: $footer-color;
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

      .cards__paragraph {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: $accent-text-color;
    opacity: 0;
    transform: translateY(100%);
    color: $footer-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.54px;
   @include flex-box();
    transition: transform 250ms;
  }

  &__div {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
  }

  &__title {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
  }

  &__text {
    color: $warning-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
  }
}

.button__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

  .button__btn {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border: none;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border-radius: 4px;
    background: $section-team;
    transition-property: color color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    outline: transparent;

    &:hover,
    &:focus {
      color: $footer-color;
      border-radius: 4px;
      background: $accent-text-color;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
      border: none;
    }
  }
}
