
.footer {
  background: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  & > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;
    
     @media screen and (min-width: 768px) {
      align-items: baseline;
      flex-direction: row;
    }
     @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &__adpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 60px;
    align-items: center;
    
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 165px;
        }
    
    @media screen and (min-width: 1200px) {
      justify-content: start;
      gap: 93px;
      margin-right: auto;
    }
      }

  &__drop {
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }



  &__span {
    color: $accent-text-color;
    font-family: "Raleway", sans-serif;
    @extend %font-two;
    line-height: 1.3;
    letter-spacing: 0.72px;
   

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }

  &__logo {
    color: $footer-color;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
margin-bottom: 20px;

 

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
   
    }
  }

  &__list {
  
    margin-top: 9px;

  }

  &__iteam {
  
    margin-bottom: 9px;
  }

  &__link {
    color: $warning-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    margin-top: 50px;
  }

  &__iteam:last-child {
    margin-bottom: 0px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
  }

  &__title {
    color: $footer-color;
    @extend %font;
    line-height: 2.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__lest {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $list-color;
  }

  &__bex {
    display: flex;
    flex-direction: column;
   

@media screen and (min-width: 1200px) {
  flex-direction: row;
  text-align: start;
   align-items: baseline;
}
  }

  &__box {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-top: 12px;
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 33px;
    background-color: $foot-color;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  &__item:hover,
  &__item:focus {
    background-color: $accent-text-color;
  }

  &__lenk {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  &__lenk:hover,
  &__lenk:focus {
    background-color: $accent-text-color;
  }
  .form-box {
    margin-left: auto;

    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
      
    }

    @media screen and (min-width: 1200px) {
      // padding-top: 21px;
      margin-left: auto;
    }
  }

  &__form {
    display: flex;
    gap: 12px;

    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: start;
      
    }
  }

  &__lbl {
    color: $footer-color;
    @extend %font;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &__input {
    width: 100%;

    color: $form-color;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    padding: 15px 16px;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid $form-color;
    box-shadow: 0px 4px 4px 0px $box-shadow;
    outline: none;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 480px) {
      width: 450px;
     
    }
    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
  }

  &__send {
    fill: $footer-color;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__sendd {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $accent-text-color;
    color: $footer-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px $box-shadow;
    padding: 10px 31px;
    height: 50px;
    border: none;
    width: 200px;
    gap: 10px;
   margin-left: auto;
   margin-right: auto;
    

    @media screen and (min-width: 480px) {
      padding: 10px 28px;
    }


    @media screen and (min-width: 768px) {
     
    }

    @media screen and (min-width: 1200px) {
      margin-right: 0;
      margin-left: 20px;
      margin-top: auto;
    }
  }
}

.address {
  &__address {
    margin-top: 20px;
    font-style: normal;
  }



  &__link {
    color: $footer-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    
  }
}

.footer__address{
 font-style: normal;
  margin-top: 20px;
}
