
.footer {
    background: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__span {
        color: $accent-text-color;
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.78px;
        }

        &__logo {
            color: $footer-color;
            font-family: "Raleway", sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0.78px;
            }

      
            
            &__list {
                margin-top: 9px;
            }

            &__iteam {
                margin-bottom: 9px;
            
            }

            &__link {
                color: $warning-color;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.71; 
                letter-spacing: 0.42px;
                transition-property: color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-delay: 0;
                }

                &__iteam:last-child {
                    margin-bottom: 0px;
                }
                
                &__link:hover, &__link:focus {
                    color: $accent-text-color;
                    
                }

                &__title {
                    color: $footer-color;
            font-size: 14px;
            font-weight: 700;
            line-height: 2.2;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            margin-bottom: 20px;
                }

                &__lest {
                    display: flex; 
                    gap: 10px;
                    align-items: center;
            
                }

                &__svg {
                    width: 20px;
                    height: 20px;
                    fill: $list-color;
                }
            
                &__bex {
                    display: flex;
                    gap: 70px;
                }
            
                  &__box {
                    padding-top: 12px;
                    padding-bottom: 40px;
                }
            
                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    border-radius: 33px;
                    background-color: $foot-color;
                    transition-property: background-color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-delay: 0;
                }
            
                &__item:hover,  &__item:focus {
                    background-color: $accent-text-color;
                    
                }
            
                &__lenk {
                    width: 44px;
                    height: 44px;
                    padding: 12px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition-property: color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-delay: 0;
                }
            
                &__lenk:hover, &__lenk:focus{
                    background-color: $accent-text-color;
                   
                }
                .form-box {
                    padding-top: 21px;
                    margin-left: 93px;
                }
            
                &__form {
                    display: flex;
                    gap: 12px;
                    padding-bottom: 19px;
            
                  }
            
                  &__lbl {
                    color: $footer-color;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.14;
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                  }

                  &__input {
                    width: 358px;
                    display: block;
                    color: $form-color;
                    background-color: transparent;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.25;
                  letter-spacing: 0.48px;
                  padding: 15px 16px;
                  border-radius: 4px;
                  border-radius: 4px;
                  border: 1px solid $form-color;
                  box-shadow: 0px 4px 4px 0px $box-shadow;
                  outline: none;
                  margin-top: 20px;
                }
            
           
            
                &__send {
                    fill: $footer-color;
                    width: 24px;
                    height: 24px;
                    margin-left: 10px;
                }
            
           
                  .is-hidden {
                    opacity: 0;
                    pointer-events: none;
                  }

                  &__sendd {
                    display: flex;
                    align-items: center;
                    background-color: $accent-text-color;
                    color: $footer-color;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.87; 
                    letter-spacing: 0.96px;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px $box-shadow;
                    padding: 10px 28px 10px 28px;
                    height: 50px;
                    margin-top: 36px;
                    border: none;
                }
                
    }

    .address {
        &__address {
            margin-top: 20px;
              font-style: normal;
          }
          
          &__link {
          color: $footer-color;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.71; 
          letter-spacing: 0.42px;
          }
    }

   
    



    
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $footer-shadow;
        opacity: 1;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
      }

    
   
    
 
    
    
 



    

   

   

  