.header {
    padding-top: 24px;
    padding-bottom: 25px;
}



.nav__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    }

.nav__link:hover, .nav__link:focus {
    color: $accent-text-color;
    
} 
.current {
    color: $accent-text-color;
}

.nav__item {
 position: relative;   
}


.current::after {
    content: "";
    width: 100%;
  height: 4px;
  opacity: 0;
  border-radius: 2px;
  background: $accent-text-color;
  position: absolute;
  top: 48px;
  left: 0px;

  }

  .nav__item:hover {
    .current::after{
        opacity: 1;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
  }



.header__span {
color: $accent-text-color;
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}
 
.header__logo {
    color: $header-log;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    margin-right: 93px;
    animation-name: move-logo;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes move-logo {
    0%{
transform: scale(0.8);
    }
    100%{
transform: scale(1);
    }
}

.box {
    display: flex;
    align-items: center;
}

.nav__list
{
  display: flex; 
  gap: 50px;
  justify-content: center;
}

.header__nav {
color: $text-color;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
margin-right: auto;
}

.header__list {
color: $warning-color;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 50px;
}

.header__link {
color: $warning-color;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.header__smartphone {
    fill: $header-svg;
    width: 10px;
    height: 16px;
margin-right: 10px;
transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
}

.header__convert {
    fill: $header-svg;
    width: 16px;
    height: 12px;
margin-right: 10px;
}


.header__link:hover, .header__link:focus {
    color: $accent-text-color;
    
    .header__smartphone {
        fill: $accent-text-color;
        
    }
}
