.hero {
  background: $background-color;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient($hero-linaar, $hero-linaar),
    url(../../images/mobile/heromodail@1x.webp);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($hero-linaar, $hero-linaar), url(../../images/mobile/heromobail@2x.webp);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 233px;
    background-image: linear-gradient($hero-linaar, $hero-linaar), url(../../images/tablet/herotablet@1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($hero-linaar, $hero-linaar), url(../../images/tablet/herotablet@2x.webp);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient($hero-linaar, $hero-linaar), url(../../images/desktop/herodesktop@1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($hero-linaar, $hero-linaar), url(../../images/desktop/herodesktop@2x.webp);
    }
  }


@media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
}

&__title {
  color: $footer-color;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: move-title;
  animation-duration: 2000ms;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}

@keyframes move-title {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

&__btn {
  color: $footer-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: $accent-text-color;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  animation-name: btn-move;
  animation-duration: 2000ms;

  @media screen and (min-width: 12000px) {
    padding: 10px 32px;
  }
}

@keyframes btn-move {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
}