.services {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    flex-direction: column;
    display: flex;
    gap: 30px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__item {
    &::before {
      content: "";
      margin-bottom: 30px;
      display: block;
      width: 100%;
      height: 120px;
      border-radius: 4px;
      background-color: $section-team;
      background-position: center;
      background-repeat: no-repeat;

      @media screen and (min-width: 480px) {
        width: 450px;
      }
      @media screen and (min-width: 768px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }
    }

    &:first-child::before {
      background-image: url(../../images/antenna.png);
    }

    &:nth-child(2)::before {
     background-image: url(../../images/clock.png);
    }

    &:nth-child(3)::before {
      background-image: url(../../images/diagram1.png);
    }

    &:last-child::before {
      background-image: url(../../images/astronaut.png);
    }
  }

  &__title {
    color: $text-color;
    text-align: center;
   @extend %font;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      text-align: start;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__text {
    color: $warning-color;
    @extend %font;
    line-height: 1.71;
    letter-spacing: 0.4px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
