.services {
    padding-top: 94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__title {
        width: 270px;
        color: $text-color;
       @extend %font;
        line-height: 1.2;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__item::before {
        content: "";
    border-radius: 4px;
    background: $section-team;
    width: 270px;
    height: 120px;
    display: block;
    background-image: url(../images/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    } 

    &__item:nth-child(2)::before {
        background-image: url(../images/clock.png);
    }
    
    &__item:nth-child(3)::before {
        background-image: url(../images/diagram1.png); 
    }
    
    &__item:nth-child(4)::before {
        background-image: url(../images/astronaut.png);
    }

    &__text {
        flex-shrink: 0;
        color: $warning-color;
        @extend %font;
        line-height: 1.71; 
        letter-spacing: 0.42px;  
    }
}










