.team-item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-list {
    display: flex;
  gap: 30px;
}

.team {
background: $section-team;
padding-top: 94px;
padding-bottom: 94px;
}

.team-img {
width: 270px;
height: 260px;
}

.team-title {
color: $text-color;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
background-color: $footer-color;
}

.team-box{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-caption {
color: $text-color;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-text {
    color: $warning-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-lest {
justify-content: center;
    display: flex;
    gap: 10px;
}

.team-link:hover, .team-link:focus{
    background-color: $accent-text-color;
   
    .team-svg {
        fill: $footer-color;
        
    }

}

.team-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.team-svg {
    fill: $svg-color;
width: 20px;
height: 20px;
transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: o;
}