:root {
    --background-color: #2F303A;
    --warning-color: #757575;
    --text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-color: #FFF; 
    --section-team:  #F5F4FA;
    --header-log: #000;
    --header-line: #ECECEC;
    --black-color:#000000;
    --portfolio-color:#EEE;
}

/* portfolio */

/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif; */

*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}



body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px ;
    margin: 0 auto;
  }

  .nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    }

.nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
} 

.current {
    color: var(--accent-text-color);
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}
 
.header-logo {
    color: var(--header-lig);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.box {
    display: flex;
    align-items: center;
}

.nav-list
{
  display: flex; 
  gap: 50px;
  justify-content: center;
  margin-right: 344px;
}

.header-nav {
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
}

.header-list {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 50px;
}

.header-link {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
}


.header-link:hover, .header-link:focus {
    color: var(--accent-text-color);
}

.cards {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.button-btn {
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
padding: 6px 22px;
border-radius: 4px;
background: var(--section-team);
margin-bottom: 50px;

}

.button-btn:hover, .button-btn:focus {
    color: var(--footer-color);
border-radius: 4px;
background: #2196F3;


}

.list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.cards {
width: 370px;
height: 404px;
border: 1px solid var(--portfolio-color);
background: var(--footer-color);
padding-top: 0;

}

.cards-image {
    width: 370px;
    /* height: 294px;  */
}

.cards-title {
    color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
width: 322px;
height: 36px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;

}

.cards-text {
    color: var(--warning-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
width: 322px;
height: 30px;
margin-right: auto;
margin-left: auto;
margin-top: 4px;
}



/* footer */
.footer {
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer-span {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-logo {
    color: var(--footer-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-address {
      margin-top: 20px;
        
    }
    
    .address-link {
    color: var(--footer-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    }
    
    .footer-list {
        margin-top: 9px;
    }
    
    .footer-iteam {
        margin-bottom: 9px;
    
    }
    
    .footer-link {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    }
    
    
    
    .footer-iteam:last-child {
        margin-bottom: 0px;
    }
    
    .footer-link:hover, .footer-link:focus {
        color: var(--accent-text-color);
    }

