:root {
    --background-color: #2F303A;
    --warning-color: #757575;
    --text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-color: #FFF; 
}

*,
*:: after,
*:: before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
}

.nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    }

.nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
} 

.current {
    color: var(--accent-text-color);
}

.header-span {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
     
    .header-logo {
        color: var(--text-color);
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.78px;
    }
    
    .header-nav {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    }

    .header-link:hover, .header-link:focus {
        color: var(--accent-text-color);
    }
    
    .header-list {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    }
    
    .header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    }
    
    .header-link2
    {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    }

.button-btn:hover, .button-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--footer-color);
    

}

.button-btn {
color: var(--text-color);
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
letter-spacing: 0.48px;
}

/* .cards-image {
width: 370px;
height: 294px;
flex-shrink: 0;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
} */

.cards-title {
color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2.0; /* 200% */
letter-spacing: 1.08px;
}

.cards-text{
color: var(--warning-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}


    .footer {
background: var(--background-color);
}

.footer-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}

.footer-logo {
color: var(--footer-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}

.address-link {
color: var(--footer-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link:hover, .footer-link:focus {
    color: var(--accent-text-color);
}

.footer-link {
flex-shrink: 0;
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}