:root {
    --background-color: #2F303A;
    --warning-color: #757575;
    --text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-color: #FFF; 
    --section-team:  #F5F4FA;
    --header-log: #000;
    --footer-text:rgba(255, 255, 255, 0.60);
    --hero-linaar: rgba(47, 48, 58, 0.4);
    --svg-color:  rgba(175, 177, 184, 1);
    --border-color: #AFB1B8;
    --footer-svg: rgba(255, 255, 255, 0.10);
    --list-color: rgba(255, 255, 255, 1);
    --header-svg: rgba(117, 117, 117, 1);    
    --foot-color: rgba(255, 255, 255, 0.10);
    --modal-color: rgba(117, 117, 117, 0.50);
   --form-color: rgba(255, 255, 255, 0.6);
   --item-border: #EEE;
   --line-color: #ECECEC;
}

/* portfolio */

/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif; */

*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
}

.header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
    margin-top: 25px;


}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px ;
    margin: 0 auto;
  }

  .nav-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    }

.nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
   
} 

.current {
    color: var(--accent-text-color);
}

.nav-item {
    position: relative;   
   }
  

   .current::after {
    content: "";
    width: 100%;
  height: 4px;
  display: block;
  opacity: 0;
  border-radius: 2px;
  background: var(--accent-text-color);
  position: absolute;
  top: 47px;
  left: 0px;

  }

  .nav-item:hover {
    .current::after{
        opacity: 1;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
  }


.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header-line);
}

.header-span {
color: var(--accent-text-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}
 
.header-logo {
    color: var(--header-lig);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.box {
    display: flex;
    align-items: center;
}

.nav-list
{
  display: flex; 
  gap: 50px;
  justify-content: center;
}

.header-nav {
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
margin-right: auto;
}

.header-list {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 50px;
}

.header-link {
color: var(--warning-color);
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.28px;
display: flex;
align-items: center;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
}

.header-smartphone {
    fill: var(--header-svg);
    width: 10px;
    height: 16px;
margin-right: 10px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
}

.header-convert {
    fill: var(--header-svg);
    width: 16px;
    height: 12px;
margin-right: 10px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
}


.header-link:hover, .header-link:focus {
    color: var(--accent-text-color);
   
    .header-smartphone {
        fill: var(--accent-text-color);
      
    }
}

.cards {
    padding-top: 94px;
    border: 1px solid var(--portfolio-color);
background: var(--footer-color);
padding-top: 0;
flex-basis: calc((100% - 60px) / 3);
position: relative;
transition-property: box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.cards:hover, .cards:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid var(--item-border);
background: var(--footer-color);
    opacity: 1;
    
    .overlay {
        opacity: 1;
        transition-property: opacity ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    }
}



.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.button-btn {
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
border: none;
letter-spacing: 0.48px;
padding: 6px 22px;
border-radius: 4px;
background: var(--section-team);
transition-property: color color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
outline: transparent;

}

.button-btn:hover, .button-btn:focus {
    color: var(--footer-color);
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
border: none;


}

.cards-button {
    padding-bottom: 94px;
    padding-top: 78px;
}

.list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards-image {
    width: 100%;
}

.overlay {
padding: 63px 24px;
position: absolute;
top: 0;
left: 0;
width: 370px;
height: 294px;
background: rgba(33, 150, 243, 0.90);
opacity: 0;
transition-property: background-color;
  transition-duration: 3000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}



.card-paragraph {
    width: 322px;
color: var(--footer-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.54px;
}

.cards-div {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
}

.cards-title {
    color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2; 
letter-spacing: 1.08px;

}

.cards-text {
    color: var(--warning-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; 
letter-spacing: 0.48px;
}



.footer {
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer-span {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-logo {
    color: var(--footer-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
    }
    
    .footer-address {
      margin-top: 20px;
        font-style: normal;
    }
    
    .address-link {
    color: var(--footer-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    }
    
    .footer-list {
        margin-top: 9px;
    }
    
    .footer-iteam {
        margin-bottom: 9px;
    
    }
    
    .footer-link {
    color: var(--warning-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
    
    
    
    .footer-iteam:last-child {
        margin-bottom: 0px;
    }
    
    .footer-link:hover, .footer-link:focus {
        color: var(--accent-text-color);
        
    }

    .footer-title {
        color: var(--footer-color);
font-family: "Roboto";
font-size: 14px;
font-weight: 700;
line-height: 2.2;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
    }

    .footer-lest {
        display: flex; 
        gap: 10px;
        align-items: center;

    }

    .footer-svg {
        width: 20px;
        height: 20px;
        fill: var(--list-color);
    }

    .ft-box {
        display: flex;
        gap: 70px;
    }
    .footer-box {
        padding-top: 12px;
        padding-bottom: 40px;
    }

    .footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 33px;
        background-color: var(--foot-color);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .footer-item:hover,  .footer-item:focus {
        background-color: var(--accent-text-color);
        
    }

    .foot-link {
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .foot-link:hover, .foot-link:focus {
        background-color: var(--accent-text-color);
        
    }

    .form-box {
        padding-top: 21px;
        margin-left: 93px;
    }

    .footer-form {
        display: flex;
        gap: 12px;
        padding-bottom: 19px;

      }

      .ft-lbl {
        color: var(--footer-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }

    .footer-input {
        width: 358px;
        display: block;
        color: var(--form-color);
        background-color: transparent;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.48px;
      padding: 15px 16px;
      border-radius: 4px;
      border-radius: 4px;
      border: 1px solid var(--form-color);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      outline: none;
      margin-top: 20px;
    }

    .button-send {
        display: flex;
        align-items: center;
        background-color: var(--accent-text-color);
        color: var(--footer-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87; 
        letter-spacing: 0.96px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 10px 28px 10px 28px;
        height: 50px;
        margin-top: 36px;
        border: none;
    }

    .footer-send {
        fill: var(--footer-color);
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
