*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.footer__lbl, .footer__title, .work__paragraph, .services__text, .services__title {
  font-size: 14px;
  font-weight: 700;
}

.footer__span, .header__logo, .header__span {
  font-size: 24px;
  font-weight: 700;
}

.regular__title, .work__title {
  font-size: 26px;
  font-weight: 700;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__span {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.78px;
}
.header__logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.72px;
  animation-name: move-logo;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-style: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
  fill: #212121;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
@keyframes move-logo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.header .box {
  display: flex;
  align-items: center;
}
.header__list {
  color: #757575;
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
}
.header__link:hover .header__smartphone, .header__link:focus .header__smartphone {
  fill: #2196F3;
}
.header__spn {
  color: #757575;
  font-style: 12px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.24px;
}
@media screen and (min-width: 1200px) {
  .header__spn {
    font-style: 14px;
    letter-spacing: 0.28px;
  }
}
.header__smartphone {
  fill: rgb(117, 117, 117);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__convert {
  fill: rgb(117, 117, 117);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  margin-right: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.06;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.nav__list {
  gap: 50px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    gap: 50px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav .current {
  color: #2196F3;
}
.nav__item {
  position: relative;
}
.nav .current::after {
  content: "";
  width: 100%;
  height: 4px;
  opacity: 0;
  border-radius: 2px;
  background: #2196F3;
  position: absolute;
  top: 48px;
  left: 0px;
}
.nav__item:hover .current::after {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.header__menu {
  background: none;
  border: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.menu {
  width: 40px;
  height: 40px;
  fill: #000;
}

.mobail__menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  opacity: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.mobail__button {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobail__close {
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.mobail__close:hover {
  fill: #2196F3;
}

.mobail__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.mobail__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.mobail__link:hover {
  color: #2196F3;
}

.modail__leest {
  margin-top: 302px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobail__direc {
  color: #2196F3;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  line-height: 1.17;
}

.mobail__dir {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.mobail__liist {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}

.mobail__part {
  border-right: 1px solid #757575;
  padding-right: 10px;
}

.mobail__leenk {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.hero {
  background: #2F303A;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: move-title;
  animation-duration: 2000ms;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
@keyframes move-title {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.hero__btn {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: #2196F3;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  animation-name: btn-move;
  animation-duration: 2000ms;
}
@media screen and (min-width: 12000px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
@keyframes btn-move {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .services {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.services__list {
  flex-direction: column;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .services__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.services__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .services__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .services__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .services__item::before {
    width: 270px;
  }
}
.services__item:first-child::before {
  background-image: url(../../images/antenna.png);
}
.services__item:nth-child(2)::before {
  background-image: url(../../images/clock.png);
}
.services__item:nth-child(3)::before {
  background-image: url(../../images/diagram1.png);
}
.services__item:last-child::before {
  background-image: url(../../images/astronaut.png);
}
.services__title {
  color: #212121;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .services__title {
    text-align: start;
  }
}
.services__text {
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 480px) {
  .services__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .services__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .services__text {
    width: 270px;
  }
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__title {
  color: #212121;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.work__paragraph {
  color: #FFF;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__item {
  flex-basis: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}
.team__img {
  width: 100%;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__lest {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.team__link:hover, .team__link:focus {
  background-color: #2196F3;
}
.team__link:hover .team__svg, .team__link:focus .team__svg {
  fill: #FFF;
}
.team__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.team__svg {
  fill: rgb(175, 177, 184);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.regular {
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .regular {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.regular__title {
  color: #212121;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .regular__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.regular__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .regular__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .regular__list {
    justify-content: space-between;
  }
}
.regular__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 480px) {
  .regular__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .regular__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .regular__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.regular__link {
  width: 100%;
  border-radius: 4px;
  height: 92px;
  display: flex;
  border: 1px solid #AFB1B8;
  justify-content: center;
  align-items: center;
  transition-property: border-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .regular__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regular__link {
    width: 170px;
  }
}
.regular__link:hover, .regular__link:focus {
  border-color: #2196F3;
}
.regular__link:hover .regular__svg, .regular__link:focus .regular__svg {
  fill: #2196F3;
}
.regular__svg {
  fill: rgb(175, 177, 184);
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.cards {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .cards {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards__item {
  border: 1px solid rgb(238, 238, 238);
  background: #FFF;
  position: relative;
  overflow: hidden;
  flex-basis: calc((100% - 0px) / 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .cards__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.cards__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.cards__item:hover .cards__paragraph {
  opacity: 1;
  transform: translateY(0);
}
.cards__box {
  position: relative;
  overflow: hidden;
}
.cards__image {
  width: 100%;
  height: 294px;
}
.cards__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background: #2196F3;
  opacity: 0;
  transform: translateY(100%);
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.54px;
  display: flex;
  align-items: center;
  transition: transform 250ms;
}
@media screen and (min-width: 768px) {
  .cards__paragraph {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__paragraph {
    padding: 63px 24px;
  }
}
.cards__div {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
}
.cards__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.cards__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.button__list {
  display: flex;
  gap: 14px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .button__list {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .button__list {
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
}
.button__list .button__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border: none;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
  background: #F5F4FA;
  transition-property: color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  outline: transparent;
  margin-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .button__list .button__btn {
    margin-bottom: 0;
  }
}
.button__list .button__btn:hover, .button__list .button__btn:focus {
  color: #FFF;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  border: none;
}
.button__list .button__btn:nth-child(4) {
  margin-bottom: 0;
}
.button__list .button__btn:nth-child(5) {
  margin-bottom: 0;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    align-items: baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    text-align: start;
  }
}
.footer__adpt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__adpt {
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adpt {
    align-items: center;
    gap: 70px;
  }
}
.footer__drop {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__drop {
    text-align: start;
  }
}
.footer__span {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__span {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__logo {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__list {
  margin-top: 9px;
}
.footer__iteam {
  margin-bottom: 9px;
}
.footer__link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  margin-top: 50px;
}
.footer__iteam:last-child {
  margin-bottom: 0px;
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}
.footer__title {
  color: #FFF;
  line-height: 2.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__lest {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
}
.footer__bex {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__bex {
    flex-direction: row;
    gap: 70px;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    text-align: start;
    margin-top: 12px;
    margin-bottom: 40px;
  }
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 33px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer__item:hover, .footer__item:focus {
  background-color: #2196F3;
}
.footer__lenk {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer__lenk:hover, .footer__lenk:focus {
  background-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer .form-box {
    margin-left: auto;
  }
}
.footer__form {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    justify-content: start;
  }
}
.footer__lbl {
  color: #FFF;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__lbl {
    text-align: start;
  }
}
.footer__input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding: 15px 16px;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}
.footer__send {
  fill: #FFF;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.footer .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.footer__sendd {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #2196F3;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 31px;
  height: 50px;
  border: none;
  width: 200px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer__sendd {
    padding: 10px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__sendd {
    margin-right: 0;
    margin-left: 20px;
    margin-top: auto;
  }
}

.address__address {
  margin-top: 20px;
  font-style: normal;
}
.address__link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 9px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: 1px solid #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}
.modal__clouse {
  width: 18px;
  height: 18px;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__bux {
  position: relative;
}
.modal__bux:hover__input, .modal__bux:focus__input {
  border-color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__bux:hover .modal__svg, .modal__bux:focus .modal__svg {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__label {
  width: 448px;
  height: 40px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196F3;
  border-radius: 4px;
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: #2196F3;
}
.modal__com {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  display: block;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__com:hover .modal__com:focus {
  color: #2196F3;
  outline: 1px solid var(--accent-text-color);
}
.modal__span {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal__svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: flex;
  flex-direction: reverse;
  margin-left: 8px;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
}
.modal__lbl {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */